
<link rel="stylesheet" href="stylesheets/styles.css">
<link rel="stylesheet" href="stylesheets/pygment_trac.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
<h1>Erin VanWinkle<br>Piano Studio</h1>
<p>Drink some water and sit down at the piano.</p>
<img src="../images/Erin.jpg" alt="Erin VanWinkle" />

<p class="links"><a href="http://erinvanwinkle.github.io">Professional Bio</a><br>
<a href="http://erinvanwinkle.github.io/philosophy">Teaching Philosophy</a><br>
<a href="http://1drv.ms/1vFT63a" target="_blank">Studio Policy</a><br>
<a href="http://erinvanwinkle.github.io/students">For Students</a><br>
<a href="http://erinvanwinkle.github.io/parents">For Parents</a><br>
<a href="http://1drv.ms/1wpi5W3">Registration</a><br>
<a href="http://erinvanwinkle.github.io/contact">Contact</a><br>
</p>

